
/* This file is used for: All, 
Specifics : "openings.html", "search.html" */
/* Ignoring rightside whitespace */
.dropdown-toggle{
    background-color: transparent !important;
}

td{
    color: white;
}

/* dropdown selects */
.dropdown-menu{
    background-color: #212529;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color:#212529;
}

select, option{
    background-color: #575859;
    color: white;
}

/* btns */
.btn{
    background-color: #B9E0FF;
    color: #170055;
}

/* nav links */
.nav-link{
    font-size: larger;
}
/* inputs */
input{
    background-color: #575859 !important;
    color: white !important;
}

a:hover{
    color: #61ff5e !important;
}

/* html/body */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #575859;
    color: white;
}
/* pfp */
.header-pfp{
    width: 50px;
    height: auto;
    border: white 2px solid;
    background-color: transparent !important;
 }
/* Social Logos */
.social-logo{
    max-width: 50px;
    max-height: 50px;
}

/* Footer */
#footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #222;
    color: white;
    margin-top: 20%;
  }

/* Setting margin to 0 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

/* Setting body margin to 0 */
body{
    margin:0
}
/* First Nav item */
.nav-link:first-child{
    padding: 0px;
    width: 10%;
}

.nav-link{
    color:#02d0e3;
}


/* nav-link */
.nav-link:hover{
    color: #61ff5e;
}


 /* NavBrand Logo */
 .nav-logo{
    width: 100%;
    height: auto;
 }

/* Navbar items */
.navbar-nav > li{
    margin-left:2%;
    margin-right:10%;
  }

/* Navbar */
.navbar{
    padding-top: 50px;
    background-color: #262626;
}
/* brand title */
.brand{
    max-width: 80.5%;
    padding: 0px;
}

/* Darkmode/Lightmode btn */
#mode-btn{
    padding:0.5%;
    margin:0.5%;
    background-color: black;
    color:white;
    border-radius: 30%;
    position: absolute;
}

/* Opening Selector */
.opening-selector{
    border-width:1px;
}

/* Search filter */
.search-filter-option{
    margin: 7px;
    border-width:1px;
    border-radius: 5px;
}

/* Search filter when focused */
.search-filter-option:focus{
    outline:none;
}

/* Rating num */
.rating-number{
    max-width: 70px
}

/* Filters */

.navbar-filter{
    background-color: white;
}

/* Filter special symbol (three lines) */
.equiv-sym{
    font-size: 150%;
}

/* Filter toggle btn */
.navbar-toggler{
    border: solid 2px black;
}

/* Cards */
.card{
    max-width: 40%;
    margin-left: 7%;
    margin-bottom: 2%;
    border: 1px solid rgba(124, 129, 132, 0.7);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #212529;
    color: white;
}

/* Logout btn */
.log-out-btn{
    margin-left: 45%;
 }
/* This file is used for: Opening page(s?)
Specifics: "openings.html" */

/* Win/Loss/Draw rate bars */
 .rate-bar{
    padding: 0;
    margin: 0;
    font-size: 67%;
    display:inline-block; 
    height: 30px;
    font-weight: bold;
 }

/* ths */
th{
    color: #faff91;
}

 /* Loss rate  */
 .loss-bar{
    color:white;
 }

 /* Search form area */
 .form-area{
    max-width: 35%;
    margin-left: 35%;
 }

/* Search Form title  */
 .title{
    margin: 3% 3% 3% 47%;
 }

 #homepage-logo{
    max-width: 15%;
 }

